
body{
    background-color: #fffbf7;
    margin: 0;
   }


h1{
    color: #025157;
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 24px;
}


p{
    color: #8b8b8bcc;
}

button{
    color: #fff;
    background-color: #025157;
}

input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
}

input, button { 
    height: 100% ;
    border-radius: 8px;
}

form {
    height: 30px;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.header{
    margin: 40px 20px 0px 20px;
    font-size:  0px;
}

.header li{
    display: inline-block;
    margin: 0 10px;
}


.main{
    margin: 25px 0px;
}

.logo{
    width: 20%;
}

.logo > img {
    height: 100%;
}



.navbar{
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions{
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}


.main{
    margin: 25px 0;
    text-align: center;
    margin-top: 200px;
}

.main .segunda-imagen{
    text-align: center;
    width: 70%;
    margin: 30px auto;
}

h4{
    color:  #46484c;
}


.publish h3{
    color: #025157;
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px; 
    font-weight: 900;   
}

.publish {
    color: #343434;
    flex: 1;
}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish .publish-text {
    display: flex;
}

.publish .publish-text > p {
    color: #8b8b8bcc;
    margin-right: 18px;
}


.promo {
    display: flex;
    flex-direction: row;
    width: 70%;
   margin:  100px auto;
   align-items: center;
}

.promo .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.promo .explanatory-video img {
    width: 120px;
    margin-top: 10px;
}


/* Esto funciona para dejar una barra de navegacion fija*/

.fix-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;   
}


/* grid es para que se logre crear un area de trabajo en filas y columnas*/
/* Tambien se puede usar :  grid-template-columns: 300px 300 o  grid-template-columns: repeat(2, 1fr) 
o grid-template-rows: repeat(2, 330px); */
/* Esto es para indicar por separado columnas y filas:
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
*/

.features {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2 , 1fr);
    height: 660px;
    background-color: #025157;
    padding: 5% 10%;
}

.features .feature-card {
    background-color: #fff;
    margin: 0 15px 30px;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}

.features .feature-card .feature-content img {
    width: 50px;

}

.features .feature-card .feature-content figure {
  margin-left: 0;
}

.features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}
.features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}


/* position: relative; Esta propiedad es para mover la imagen dentro del flujo donde se encuentre*/

.features .feature-card .feature-image {
    flex: 1;
    position: relative;
    width: 40%;
    right: -50px;    
    height: 80%;
    transition: right 1s;
}

.features .feature-card .feature-image:hover {
    right: 2px;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
}


